header {
    text-align: center;
}

main {
    content: "";
    width: 70%;
    margin: auto;
    display: flex;
}

.flex-container {
    display: flex;
}

.column {
    float: left;
}

.left {
    border: 4px dashed red;
    margin: 2em;
    flex-basis: 33%;
    padding: 2em;
}

.right {
    border: 4px dashed red;
    margin: 2em;
    flex-basis: 67%;
    padding: 2em;
}

img {
    width: 200px;
    float: right;
}

#para1 {
    clear: both;
}

p {
    padding: 5px;
}

#bottom {
    position: fixed;
    bottom: 5px;
}