body {
    background-image: url(../images/onepieceBackground.png);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    text-align: center;
    font-size: 65px;
    font-weight: bold;
}

img {
    background-color: white;
    width: 160;
    height: 160;
}

div {
    animation: slideIn 4s;
    margin: auto;
    align-items: center;
    text-align: center;
}

.grid {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card,
.cardT {
    position: relative;
    transition: all 0.4s linear;
    transform-style: preserve-3d;
    margin: 5px;
}

.card,
.cardT,
.back,
.front {
    height: 180px;
    width: 180px;
}

.back,
.front {
    position: absolute;
    backface-visibility: hidden;
}

.front {
    background: url('../images/cardback.jpg') no-repeat center center / contain;
}

.back {
    transform: rotateY(180deg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.selected {
    transform: rotateY(180deg);
}

.match .front {
    background: rgb(180, 24, 19) !important;
}

.stopwatch {
    font-size: 80px;
    color: tomato;
}

p {
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    color: rgb(28, 16, 100);
}

#countdown {
    font-size: 45px;
    color: red;
}