.forms {
    border-style: groove;
    display: inline-block;
    padding: 30px 150px;
    line-height: 2.2;
    text-align: center
}

body {
    text-align: center;
}

.error {
    color: red;
    font-size: 10px;
}

.success {
    color: green;
}

center {
    text-align: center;
}